:root {
    --floral-white: #FFFBF5;
    --Eggshell: #F4F1DE;
    --Terra-Cotta: #e16b4b;
    --Terra-Cotta-light: #ef8567;
    --Independence: #3D405B;
    --Independence-light: #51557e;
    --Green-Sheen: #81B29A;
    --Green-Sheen-dark: #478668;
    --Green-Sheen-light: #9bb6a7;
    --Deep-Champagne: #F2CC8F;
    --Deep-Champagne-light: #fae2bf;
    --rich-black-fogra-39: #0B0E0C;
    --ash-gray: #a1ada4;
    --ash-gray-light: #bcc4bd;
    --ash-gray-dark: #4e5450;

    --black-light: rgba(0, 0, 0, 0.568);
    --rich-black-fogra-39-light: #0b0e0cd3;
    --dark-jungle-grees: #23312d;
}