@import url('./colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1250px;
    --min-width: 400px;
    --header-color: var(--Independence);
    --header-hover-color: var(--Independence-light);
    --header-text: var(--Eggshell);
    --background-color: var(--Eggshell);
    --text: var(--rich-black-fogra-39-light);
    --button-text: var(--floral-white);
    --button-color: var(--rich-black-fogra-39-light);
    --border-color: var(--ash-gray);
    --i-hover: var(--ash-gray-dark);
    --text-error-color: var(--Terra-Cotta);
    --delete-button-hover-color: var(--Terra-Cotta-light);
    --list-color: var(--Deep-Champagne);
    --list-shadow: var(--Deep-Champagne-light);
    --create-color: var(--Green-Sheen);
    --create-hover-color: var(--Green-Sheen-light);
    --succes-text-color: var(--Green-Sheen-dark);
}

body {
    color: var(--text);
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

/* HEADER */

.header-login {
    display: flex;
    color: var(--header-text);
    background-color: var(--header-color);
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
}

.header {
    color: var(--header-text);
    background-color: var(--header-color);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 50px;
}

.header nav {
    width: 25%;
}

.header h1 {
    width: 50%;
    text-align: start;
}

.header div {
    width: 25%;
}

#check-menu {
    position: absolute;
    left: -100%;
}

#check-menu:checked ~ .ul-menu {
    left: 0;
    width: 100%;
    height: 90vh;
}

.btn-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}

.btn-menu:hover {
    background-color: var(--header-hover-color);
    cursor: pointer;
}

.ul-menu {
    position: absolute;
    margin: auto;
    top: 50px;
    left: -300px;
    text-align: start;
    transition: left 1s ease;
    z-index: 2;
}

.ul-menu > li {
    display: block;
    width: 180px;
    background-color: var(--header-color);
    border-top: 1px solid var(--header-text);
    line-height: 40px;
    list-style: none;
}

.ul-menu > li > a {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    color: var(--header-text);
}

.ul-menu > li:hover {
    background-color: var(--header-hover-color);
}

/* MAIN */

.first {
    padding-top: 20px;
}

.form {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;
}

form h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

input, select {
    height: 30px;
    width: 300px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 2px;
}

input[type='submit'] {
    color: var(--button-text);
    background-color: var(--button-color);
    border: none;
}

input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--border-color);
}

.error {
    color: var(--text-error-color);
    padding-top: 10px;
    text-align: start;
    width: border-box;
}

.success {
    color: var(--succes-text-color);
    padding-top: 10px;
    text-align: start;
}

.home {
    max-width: 1000px;
    min-width: var(--min-width);
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

.home h2 {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-self: start;
}

.home p {
    width: 100%;
    display: flex;
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
}

.list-home h2 {
    padding-top: 5px;
    padding-bottom: 10px;
}

.list-home {
    text-decoration: none;
    color: var(--text);
    height: 100px;
    width: 100%;
    background-color: var(--list-color);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    border-style: outset;
    border-color: var(--list-shadow);
    border-width: 3px;
}

.logout {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    background-color: var(--text-error-color);
    border-color: var(--delete-button-hover-color);
    color: var(--text);
}

.list-home:hover {
    cursor: pointer;
    background-color: var(--list-shadow);
}

.logout:hover {
    cursor: pointer;
    background-color: var(--delete-button-hover-color);
}

/* LIST VIEW */

.list h1 {
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.list {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    max-width: var(--max-width);
    min-width: var(--min-width);
}

.new {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.new a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    background-color: var(--create-color);
    border-style: outset;
    border-width: 2px;
    border-color: var(--create-hover-color);
    color: var(--text);
    font-size: 22px;
}

.new a:hover {
    background-color: var(--create-hover-color);
}

.list-item {
    height: auto;
    width: 100%;
    background-color: var(--list-color);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    border-style: outset;
    border-color: var(--list-shadow);
    border-width: 3px;
}

.list-information h2 {
    padding-bottom: 7px;
}

.list-information {
    width: 80%;
    padding-right: 10px;
}

.icons {
    font-size: 25px;
    width: 20%;
    height: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.icons form {
    margin-top: 0;
}

.icons form input[type='submit'] {
    height: 30px;
    width: 80px;
    margin-bottom: 0;
    padding-left: 0;
    border-radius: 2px;
}

.icons form input[name='update'] {
    background-color: var(--header-color);
    margin-bottom: 5px;
}

.icons form input[name='update']:hover {
    background-color: var(--header-hover-color);
}

.icons form input[name='delete'] {
    background-color: var(--text-error-color);
}

.icons form input[name='delete']:hover {
    background-color: var(--delete-button-hover-color);
}

i:hover {
    cursor: pointer;
    color: var(--i-hover);
}

form h2 {
    font-size: 27px;
    padding-bottom: 20px;
    text-align: center;
}

.empty {
    height: 80px;
    width: 100%;
    background-color: var(--list-color);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
}

.delete {
    padding-bottom: 20px;
    padding-left: 8px;
}

.delete p {
    padding-bottom: 10px;
}

.delete a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--header-text);
    padding: 5px 10px;
}

.no {
    background-color: var(--header-color);
}

.no:hover {
    background-color: var(--header-hover-color);
}

.yes {
    background-color: var(--text-error-color);
}

.yes:hover {
    background-color: var(--delete-button-hover-color);
}

/* LEFT LIST */

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
}

.left-list h1 {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.left-list {
    width: 350px;
    height: 100%;
    padding-top: 20px;
    border-right-color: var(--header-color);
    border-right-width: 3px;
    border-right-style: solid;
    margin-left: 2%;
    padding-right: 2%
}

.left-list-item {
    height: auto;
    width: 100%;
    background-color: var(--list-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.left-list-item form {
    margin-top: 0;
    justify-content: flex-start;
    padding-top: 5px;
}

.left-list-item form input[type="submit"] {
    display: flex;
    width: auto;
    height: auto;
    font-size: 25px;
    color: var(--text);
    background-color: var(--list-color);
}

.left-list-item form input[type="submit"]:hover {
    cursor: pointer;
}

.subitem {
    padding-left: 10%;
}

.left-list-item form input[type="submit"] {
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0);
    width: 250px;
    height: border-box;
}

.left-list-item form label {
    position: relative;
    z-index: 0
}

.selected {
    height: auto;
    border-style: outset;
    border-color: var(--list-shadow);
    border-width: 3px;
    font-size: 20px;
}

.right-list h1 {
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center
}

.right-list {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    max-width: var(--max-width);
    min-width: var(--min-width);
}

.comments {
    background-color: var(--create-hover-color);
}

textarea {
    height: 200px;
    width: 300px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 2px;
}