/* PALETA DE COLORES */

:root {
    --Floral-White: #FFFBF5;
    --Ash-Gray: #a1ada4;
    --Ash-Gray-light: #c5cbc6;
    --Black-light: rgba(0, 0, 0, 0.568);
    --Rich-Black-Fogra-39: #0B0E0C;
    --Rich-Black-Fogra-39-light: rgb(60, 63, 61);
    --Dark-Jungle-Grees: #1A2421;

    --Terra-Cotta: #e16b4b;
    --Green-Sheen-dark: #478668;
}